<div class="header-wrapper">
    <div class="title" routerLink="/home" routerLinkActive="active">
        <label class="label">
            Home
        </label>
    </div>
    <div class="title" routerLink="/login" routerLinkActive="active">
        <label class="label">
            Login
        </label>
    </div>
    <div class="title" routerLink="/signup" routerLinkActive="active">
        <label class="label">
            Signup
        </label>
    </div>
    <!-- <div *ngIf="getUserLogged()" class="title" routerLink="/battles" routerLinkActive="active">
        <label class="label">
            Battles
        </label>
    </div>
    <div *ngIf="getUserLogged()" class="title" routerLink="/my-troopers" routerLinkActive="active">
        <label class="label">
            My Troopers
        </label>
    </div> -->
    <!-- <div class="title" routerLink="/rules" routerLinkActive="active">
        <label class="label">
            Rules
        </label>
    </div> -->
</div>