.header-wrapper {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    padding-bottom: 10px;
    font-family: "Heavitas";
    .title  {
        color: white;
        font-size: x-large;
        transition: color 0.5s, border 0.5s;
        width: 200px;
        white-space: nowrap;
        padding: 10px;
        text-align: center;
        border-bottom: solid 3px transparent;
        margin: 0px 30px;
    }

    .title:hover {
        color: #ffe329;
        border-bottom: solid 3px #ffe329;
    }   

    .title.active {
        color: #ffe329;
        border-bottom: solid 3px #ffe329;
    }
}