<div class="header-wrapper">
    <div class="title" routerLink="/home" routerLinkActive="active">
        <label class="label">
            Home
        </label>
    </div>
    <div class="title" routerLink="/battle" routerLinkActive="active">
        <label class="label">
            Battle
        </label>
    </div>
    <div class="title" routerLink="/my-troopers" routerLinkActive="active">
        <label class="label">
            My Troopers
        </label>
    </div>
    <div class="title" routerLink="/rules" routerLinkActive="active">
        <label class="label">
            Rules
        </label>
    </div>
</div>