<div class="wrapper">
    <div class="header">
        <div style="display: flex; align-items: center;">
            <img src="/assets/images/angrywolfclub.jpeg" style="width: 200px;"/>
            <p style="color: white; font-size: xx-large; font-family: 'Roboto Mono'; font-weight: bold;">Angry Wolf Club</p>
        </div>
        <div>
    
        </div>
    </div>
    <div class="content">
        <div style="display: flex; width: 100%; justify-content: space-evenly; align-items: center;">
            <div>
                <img class="wolf" src="/assets/images/wolf_1.png"/>
            </div>
            <div style="color: white; font-family: 'Roboto Mono'; font-size: x-large;" *ngIf="!mintSuccess">
                <button class="button-mint" *ngIf="!mmOpenned" (click)="openMetamask()">
                    Connect Wallet
                </button>
                <div *ngIf="mmOpenned">
                    <p style="font-family: 'Roboto Mono'; color: white; font-size: large; text-align: center;"> Mint price: 0.1 ETH per Wolf <br>during the presale </p>
                    <p style="display: flex; align-items: center; justify-content: center;">Mint: <button class="incr" *ngIf="mintNumber > 0" (click)="decrMintNumber()"> - </button >{{ mintNumber }} <button class="incr" (click)="incrMintNumber()"> + </button></p>
                   
                </div>
                <button class="button-mint" *ngIf="mmOpenned && mintNumber > 0" (click)="mint()">
                    Mint
                </button>
            </div>
            <div *ngIf="mintSuccess">
                <p style="text-align: center; font-family: 'Roboto Mono'; color: white; font-size: xx-large;">
                    Congratulions you are now part of the project
                </p>
            </div>
            <div>
                <img class="wolf" src="/assets/images/wolf_2.png"/>
            </div>
        </div>
    </div>
</div>

<div class="link-media">
    <!-- <a href="https://solsea.io/">
        <img src="assets/images/discord.png"/>
    </a> -->
    <a href="https://twitter.com/home">
        <img src="assets/images/twitter.png"/>
    </a>
    <a href="https://solsea.io/">
        <img src="assets/images/discord.png"/>
    </a>
</div>