.home-wrapper {
    margin-left: 216px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .logo-lore {
        width: 300px;
    }

    label {
        font-size: xx-large;
        color: #478347;
        font-family: 'Heavitas';
    }
}