<app-header></app-header>
<div *ngIf="userNFTs.length >= 0 && !this.loader" class="troopers-wrapper">
    <div *ngFor="let trooper of userNFTs" class="trooper">
        <img 
                [src]="trooper.image"/>
        <div class="stats">
            <p> <img src="assets/images/sword.png" style="width: 30px;"/> {{trooper.att}} </p>
            <p> <img src="assets/images/armor.png" style="width: 30px;"/> {{trooper.def}} </p>
            <p> <img src="assets/images/lighting.png" style="width: 30px;"/> {{trooper.spe}} </p>
        </div>
        <label (click)="showTrooperDetails(trooper)">{{trooper.trooperName}}</label>
        
        <!-- <label *ngIf="trooper.status === 'ready'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">Ready to fight</label>
        <label *ngIf="trooper.status === 'battle'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">In battle</label> -->
    </div>
</div>

<div *ngIf="loader">
    <ngx-spinner
            [fullScreen]="false"
            size="medium"
            color="#ffe329"
            bdColor="transparent"
            type="ball-clip-rotate-multiple"
            >
        </ngx-spinner>
</div>
<div *ngIf="showTrooper && trooperToShow" class="backdrop" (click)="backShowTrooper()">

</div>
<div *ngIf="showTrooper && trooperToShow" class="trooper-details">
    <div class="details-bloc border-bottom">
        <div class="bloc">
            <img [src]="trooperToShow.image"/>
        </div>
        <div class="bloc bloc-name">
            <label class="name">
            </label>
            <label class="id">{{trooperToShow.trooperName}}</label>
            <!-- <label class="rarity">Rarity: {{trooperToShow.rarity}}</label> -->
        </div>
    </div>
    <div class="details-bloc">
        <div class=properties-wrapper>
            <div class="properties">
                <div *ngFor="let trait of trooperToShow.traits">
                    <div *ngIf="trait.trait_type === 'Color'">
                        <label class="type">Color: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Emissive Color'">
                        <label class="type">Emissive Color: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Armor'">
                        <label class="type">Armor: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Helmet Top'">
                        <label class="type">Helmet Top: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Accessory'">
                        <label class="type">Accessory: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Visor'">
                        <label class="type">Visor: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Respirator'">
                        <label class="type">Respirator: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Gem'">
                        <label class="type">Gem: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                    <div *ngIf="trait.trait_type === 'Support Gem'">
                        <label class="type">Support Gem: </label>
                        <label class="value">{{trait.value}}</label>
                    </div>
                </div>
                <!-- <div> 
                    <label class="label">Color: </label>
                    <label>{{trooperToShow.properties.color}}</label>
                </div>
                <div>
                    <label class="label">Emissive Color: </label>
                    <label>{{trooperToShow.properties.emissiveColor}}</label>
                </div>
                <div>
                    <label class="label">Armor: </label>
                    <label>{{trooperToShow.properties.armor}}</label>
                </div>
                <div>
                    <label class="label">Helmet Top: </label>
                    <label>{{trooperToShow.properties.helmetTop}}</label>
                </div>
                <div>
                    <label class="label">Accessory: </label>
                    <label>{{trooperToShow.properties.accessory}}</label>
                </div>
                <div>
                    <label class="label">Visor: </label>
                    <label>{{trooperToShow.properties.visor}}</label>
                </div>
                <div>
                    <label class="label">Respirator: </label>
                    <label>{{trooperToShow.properties.respirator}}</label>
                </div>
                <div>
                    <label class="label"> Gem: </label>
                    <label>{{trooperToShow.properties.gem}}</label>
                </div>
                <div>
                    <label class="label">Support Gem: </label>
                    <label>{{trooperToShow.properties.supportGem}}</label>
                </div> -->
            </div>
        </div>
    </div>
</div>


<!-- <div *ngIf="userNFTs.length > 0">

    <div *ngFor="let nft of userNFTs">
        {{nft.name}} <br>
        {{nft.idToken}} <br>
        <div *ngFor="let tr of nft.traits">
            {{tr.trait_type}} : {{tr.value}}
        </div>
    </div>
</div> -->