.home-wrapper-1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40%;
    width: 80%;
    img.horizon {
        width: 80%;
    }

    img.civil-war {
        width: 40%;
    }
    
    label {
        font-size: xx-large;
    }
}

.bloc-header {
    display: flex;
    justify-content: space-evenly;
}

.home-subtitle {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

.home-description {
    margin-top: 40px;
    color: white;
    width: 98%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Altone";
    p {
        font-size: x-large;
        font-family: "Heavitas";
    }
}

.play-button {
    font-size: xx-large;
    color: #ffe329;
    cursor: pointer;
    border: solid 3px #ffe329;
    padding: 0 10px;
    font-family: "Heavitas";
    transform: skewX(-15deg) scale(1);
    border-radius: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.play-button:hover {
    background-color: #ffe329;
    p {
        color: #17171D;
    }
}

.home-wrapper-2 {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    .trooper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .red-title {
            font-size: xx-large;
            color: #f16d24;
            font-family: "Heavitas";
            font-weight: bold;
            margin-top: 20px;
        }

        .blue-title {
            font-size: xx-large;
            margin-top: 20px;
            font-family: "Heavitas";
            color: #41faff;
            font-weight: bold;
        }

        img {
            width: 300px;
            margin: 60px 60px 10px 60px;
            border-radius: 20px;
            transition: border 0.5s;
            padding-top: 10px;
            border: solid 4px transparent;
        }

        img.red:hover {
            // box-shadow: 0 0 40px #f16d24;
            border: solid 4px #f16d24;
        }

        img.blue:hover {
            // box-shadow: 0 0 40px #41faff;
            border: solid 4px #41faff;
        }

        img.red.show {
            // box-shadow: 0 0 40px #f16d24;
            border: solid 4px #f16d24;
        }

        img.blue.show {
            // box-shadow: 0 0 40px #41faff;
            border: solid 4px #41faff;
        }
    }
}

.details {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    padding-bottom: 50px;
    label {
        color: white;
    }

    p {
        font-size: x-large;
    }

    .leader-title {
        color: #ffe329;
        font-family: "Heavitas";
    }
    .leader-name {
        font-family: "Altone";
    }
}

.button-connect {
    position: fixed;
    bottom: 0;
    z-index: 999;
    right: 0;
    padding: 30px;
    button {
        padding: 20px;
        border: none;
        background-color:  #ffe329;
        border: solid 2px transparent;
        color: #17171D;
        border-radius: 50px;
        transition: box-shadow 0.5s, border 0.5s;
        cursor: pointer;
    }
    button:hover {
        box-shadow: 0 0 10px #ffe329;
    }
}

.button-connect-1 {
    position: fixed;
    top: 100px;
    z-index: 999;
    right: 0;
    padding: 30px;
    button {
        padding: 20px;
        border: none;
        border: solid 2px transparent;
        color: #ffe329;
        border-radius: 10px;
        transition: box-shadow 0.5s, border 0.5s;
        cursor: pointer;
        box-shadow: 0 0 10px yellow;
    }
    button:hover {
        border: solid 2px #ffe329;
    }
}

.button-connect-2 {
    position: fixed;
    top: 200px;
    z-index: 999;
    right: 0;
    padding: 30px;
    button {
        padding: 20px;
        border: none;
        border: solid 2px transparent;
        color: #ffe329;
        border-radius: 10px;
        transition: box-shadow 0.5s, border 0.5s;
        cursor: pointer;
        box-shadow: 0 0 10px yellow;
    }
    button:hover {
        border: solid 2px #ffe329;
    }
}

.button-connect-3 {
    position: fixed;
    top: 300px;
    z-index: 999;
    right: 0;
    padding: 30px;
    button {
        padding: 20px;
        border: none;
        border: solid 2px transparent;
        color: #ffe329;
        border-radius: 10px;
        transition: box-shadow 0.5s, border 0.5s;
        cursor: pointer;
        box-shadow: 0 0 10px yellow;
    }
    button:hover {
        border: solid 2px #ffe329;
    }
}


.button-pay {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 999;
    padding: 30px;
    button {
        padding: 20px;
        border: none;
        background-color: red;
        border: solid 2px transparent;
        color: #ffe329;
        border-radius: 10px;
        transition: box-shadow 0.5s, border 0.5s;
        cursor: pointer;
    }
    button:hover {
        box-shadow: 0 0 10px black;
        border: solid 2px #ffe329;
    }
}