<app-header></app-header>

<div class="wrapper-battle" *ngIf="!loader">
    <div class="battle-title" *ngIf="!currentBattle?.data.finished && !currentBattle?.data.locked">
        <label class="title">
            Battle N°1.
        </label><br>
        <label *ngIf="!userAlreadyInBattle().userInElda && !userAlreadyInBattle().userInDemetos" style="font-size: xx-large; font-family: 'Heavitas'; text-align: center; color: white;">
            Choose your side !
        </label>
        <label *ngIf="userAlreadyInBattle().userInElda && !userAlreadyInBattle().userInDemetos" style="font-size: xx-large; font-family: 'Heavitas'; text-align: center; color: white;">
            You choose Elda !
            <p style="font-family: 'Altone'; margin: 0; margin-top: 10px; font-size: medium;">You still have the time to change side before the battle is locked.</p>
        </label>
        <label *ngIf="!userAlreadyInBattle().userInElda && userAlreadyInBattle().userInDemetos" style="font-size: xx-large; font-family: 'Heavitas'; text-align: center; color: white;">
            You choose Demetos !
            <p style="font-family: 'Altone'; margin: 0; margin-top: 10px; font-size: medium;">You still have the time to change side before the battle is locked.</p>
        </label>
    </div>
    <div class="battle-title" *ngIf="!currentBattle.data.finished && currentBattle.data.locked">
        <label class="title">
            Battle N°1.
        </label><br>
        <label style="font-size: xx-large; font-family: 'Heavitas'; text-align: center; color: white;">
            The battle is now locked. <br> <label style="font-family: 'Altone'; font-size: medium; margin-top: 10px;">Prepare to fight</label>
        </label>
    </div>
    <div class="battle-title" *ngIf="currentBattle.data.finished && currentBattle.data.locked">
        <label class="title">
            Battle N°1.
        </label><br>
        <label style="font-size: xx-large; font-family: 'Heavitas'; text-align: center; color: white;">
            Winner: <span *ngIf="currentBattle.data.winner === 'Demetos'" style="color: #f16d24;">{{currentBattle.data.winner}}</span> 
            <span *ngIf="currentBattle.data.winner === 'Elda'" style="color: #41faff;">{{currentBattle.data.winner}}</span><br> 
            <label style="font-family: 'Altone'; font-size: medium; margin-top: 10px;" 
            *ngIf="currentBattle.data.winner === 'Demetos' && userAlreadyInBattle().userInDemetos">
            Victory !</label>
            <label style="font-family: 'Altone'; font-size: medium; margin-top: 10px;" 
            *ngIf="currentBattle.data.winner === 'Demetos' && userAlreadyInBattle().userInElda">
            Defeat !</label>
            <label style="font-family: 'Altone'; font-size: medium; margin-top: 10px;" 
            *ngIf="currentBattle.data.winner === 'Elda' && userAlreadyInBattle().userInDemetos">
            Defeat !</label>
            <label style="font-family: 'Altone'; font-size: medium; margin-top: 10px;" 
            *ngIf="currentBattle.data.winner === 'Elda' && userAlreadyInBattle().userInElda">
            Victory !</label>
        </label>
    </div>
    <div class="battle-content">
        <div style="width: 45%;
        padding: 10px;">
            <div class="demetos" [ngClass]="{'demetos-selected': userAlreadyInBattle().userInDemetos}">
                <div *ngIf="userAlreadyInBattle().userInDemetos && currentBattle.data.locked" style="font-family: 'Heavitas'; color: #f16d24; margin: 10px 0;">
                    Your Team.
                </div>
                <div *ngIf="userAlreadyInBattle().userInElda && currentBattle.data.locked" style="font-family: 'Heavitas'; color: #f16d24; margin: 10px 0;">
                    Ennemy Team.
                </div>
                <img src="../../../assets/images/gold_trooper_red.png"/>
                <label class="red-title">Demetos League</label>
                <ng-container *ngIf="!currentBattle.data.locked">
                    <label class="add-trooper" *ngIf="!userAlreadyInBattle().userInDemetos && !userAlreadyInBattle().userInElda" (click)="openModalJoin('demetos')">Join</label>
                    <label class="add-trooper" *ngIf="userAlreadyInBattle().userInDemetos" (click)="openModalRemove('demetos')">Modify</label>
                </ng-container>
                <div style="display: flex; flex-direction: row; align-items: center; margin-top: 40px;">
                    <img src="assets/images/knight.png" style="width: 40px;">
                    <p style="font-size: xx-large;
                                font-family: Altone;
                                color: #ffe329;
                                margin: 0;
                                margin-left: 10px;">
                        {{ teamCount('demetos') }}
                    </p>
                </div>
            </div>
            <div class="trooper-list-demetos">
                <div *ngFor="let demTrp of teamDemetos" class="trooper-battle" (click)="seeTrooperDetails(demTrp)">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <label>Trooper #{{demTrp.idToken}}</label>
                        <img [src]="demTrp.image"/>
                    </div>
                    <div class="stats" *ngIf="!loaderTroopDetails">
                        <p> <img src="assets/images/sword.png" style="width: 30px;"/> {{demTrp.attack}} </p>
                        <p> <img src="assets/images/heartbeat.png" style="width: 30px;"/> {{demTrp.hp}} </p>
                        <p> <img src="assets/images/armor.png" style="width: 30px;"/> {{demTrp.armorScore}} </p>
                        <p> <img src="assets/images/lighting.png" style="width: 30px;"/> {{demTrp.energy}} </p>
                        <p> <img src="assets/images/precision.png" style="width: 30px;"/> {{demTrp.precision}} </p>
                        <p> <img src="assets/images/headshot.png" style="width: 30px;"/> {{demTrp.critical}} </p>
                        <p> <img src="assets/images/speedometer.png" style="width: 30px;"/> {{demTrp.speed}} </p>
                    </div>
                    <div class="stats" *ngIf="loaderTroopDetails">
                        <p> <img src="assets/images/sword.png" style="width: 20px;"/> <ngx-skeleton-loader count="1" appearance="line" animation="pulse" style="width: 30px; height: 23px;"></ngx-skeleton-loader></p>
                        <p> <img src="assets/images/armor.png" style="width: 20px;"/> <ngx-skeleton-loader count="1" appearance="line" animation="pulse" style="width: 30px; height: 23px;"></ngx-skeleton-loader> </p>
                        <p> <img src="assets/images/lighting.png" style="width: 20px;"/> <ngx-skeleton-loader count="1" appearance="line" animation="pulse" style="width: 30px; height: 23px;"></ngx-skeleton-loader> </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="width: 45%;
        padding: 10px;">
            <div class="elda" [ngClass]="{'elda-selected': userAlreadyInBattle().userInElda}">
                <div *ngIf="userAlreadyInBattle().userInDemetos && currentBattle.data.locked" style="font-family: 'Heavitas'; color: #41faff; margin: 10px 0;">
                    Ennemy Team.
                </div>
                <div *ngIf="userAlreadyInBattle().userInElda && currentBattle.data.locked" style="font-family: 'Heavitas'; color: #41faff; margin: 10px 0;">
                    Your Team.
                </div>
                <img src="../../../assets/images/gold_trooper_blue.png"/>
                <label class="blue-title">Council Of Elda</label>
                <ng-container *ngIf="!currentBattle.data.locked">
                    <label class="add-trooper" *ngIf="!userAlreadyInBattle().userInDemetos && !userAlreadyInBattle().userInElda" (click)="openModalJoin('elda')">Join</label>
                    <label class="add-trooper" *ngIf="userAlreadyInBattle().userInElda" (click)="openModalRemove('elda')">Modify</label>
                </ng-container>
                <div style="display: flex; flex-direction: row; align-items: center; margin-top: 40px;">
                    <img src="assets/images/knight.png" style="width: 40px;">
                    <p style="font-size: xx-large;
                                font-family: Altone;
                                color: #ffe329;
                                margin: 0;
                                margin-left: 10px;">
                        {{ teamCount('elda') }}
                    </p>
                </div>
            </div>
            <div class="trooper-list-elda">
                <div *ngFor="let eldTrp of teamElda" class="trooper-battle" (click)="seeTrooperDetails(eldTrp)">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <label>Trooper #{{eldTrp.idToken}}</label>
                        <img [src]="eldTrp.image"/>
                    </div>
                    <div class="stats" *ngIf="!loaderTroopDetails">
                        <p> <img src="assets/images/sword.png" style="width: 30px;"/> {{eldTrp.attack}} </p>
                        <p> <img src="assets/images/heartbeat.png" style="width: 30px;"/> {{eldTrp.hp}} </p>
                        <p> <img src="assets/images/armor.png" style="width: 30px;"/> {{eldTrp.armorScore}} </p>
                        <p> <img src="assets/images/lighting.png" style="width: 30px;"/> {{eldTrp.energy}} </p>
                        <p> <img src="assets/images/precision.png" style="width: 30px;"/> {{eldTrp.precision}} </p>
                        <p> <img src="assets/images/headshot.png" style="width: 30px;"/> {{eldTrp.critical}} </p>
                        <p> <img src="assets/images/speedometer.png" style="width: 30px;"/> {{eldTrp.speed}} </p>
                    </div>
                    <div class="stats" *ngIf="loaderTroopDetails">
                        <p> <img src="assets/images/sword.png" style="width: 20px;"/> <ngx-skeleton-loader count="1" appearance="line" animation="pulse" style="width: 30px; height: 23px;"></ngx-skeleton-loader></p>
                        <p> <img src="assets/images/armor.png" style="width: 20px;"/> <ngx-skeleton-loader count="1" appearance="line" animation="pulse" style="width: 30px; height: 23px;"></ngx-skeleton-loader> </p>
                        <p> <img src="assets/images/lighting.png" style="width: 20px;"/> <ngx-skeleton-loader count="1" appearance="line" animation="pulse" style="width: 30px; height: 23px;"></ngx-skeleton-loader> </p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div *ngIf="currentBattle.data.finished" class="report-battle-wrapper">
        <label>
            Battle report
        </label>
        <div *ngFor="let res of currentBattle.data.result">
            <p *ngIf="res.text">
                <span *ngIf="res.attacker && res.attacker === 'Elda'" style="color: #41faff; font-family: 'Heavitas';">{{res.attacker}}: </span>
                <span *ngIf="res.attacker && res.attacker === 'Demetos'" style="color: #f16d24; font-family: 'Heavitas';">{{res.attacker}}: </span>
                <span *ngIf="res.killed && res.killed === 'Elda'" style="color: #41faff; font-family: 'Heavitas';">{{res.killed}}: </span>
                <span *ngIf="res.killed && res.killed === 'Demetos'" style="color: #f16d24; font-family: 'Heavitas';">{{res.killed}}: </span>
                {{res.text}}
            </p>
            <p *ngIf="!res.text">
                <span *ngIf="currentBattle.data.winner === 'Demetos'" style="color: #f16d24; font-family: 'Heavitas';">{{res}}</span>
                <span *ngIf="currentBattle.data.winner === 'Elda'" style="color: #41faff; font-family: 'Heavitas';">{{res}}</span>
            </p>
        </div>
    </div>
</div>
<div *ngIf="loader">
    <ngx-spinner
            [fullScreen]="false"
            size="medium"
            color="#ffe329"
            bdColor="transparent"
            type="ball-clip-rotate-multiple"
            >
        </ngx-spinner>
</div>

<div *ngIf="teamToAddTo && showModaljoin" class="backdrop" (click)="backAddTrooper()">

</div>

<div *ngIf="teamToAddTo && showModaljoin" class="modal-wrapper">
    <div class="validate" *ngIf="teamToAddTo && showModaljoin">
        <label (click)="validateAddTrooper()">
            Validate
        </label>
    </div>
    <div style="overflow-y: scroll; height: 80%;">
        <div *ngIf="currentUserNFT.length >= 0" class="troopers-wrapper">
            <ng-container *ngFor="let trooper of currentUserNFT">
                <div *ngIf="!trooperAlreadyInTeam(trooper, teamToAddTo)" class="trooper">
                    <img [src]="trooper.image"/>
                    <div class="stats">
                        <p> <img src="assets/images/sword.png" style="width: 30px;"/> {{trooper.attack}} </p>
                        <p> <img src="assets/images/heartbeat.png" style="width: 30px;"/> {{trooper.hp}} </p>
                        <p> <img src="assets/images/armor.png" style="width: 30px;"/> {{trooper.armorScore}} </p>
                        <p> <img src="assets/images/lighting.png" style="width: 30px;"/> {{trooper.energy}} </p>
                        <p> <img src="assets/images/precision.png" style="width: 30px;"/> {{trooper.precision}} </p>
                        <p> <img src="assets/images/headshot.png" style="width: 30px;"/> {{trooper.critical}} </p>
                        <p> <img src="assets/images/speedometer.png" style="width: 30px;"/> {{trooper.speed}} </p>
                    </div>
                    <label *ngIf="!trooperIsInTrooperAddList(trooper)" (click)="addTrooper(trooper)">Add</label>
                    <label class="add" *ngIf="trooperIsInTrooperAddList(trooper)" (click)="removeTrooperFromAddList(trooper)">O</label>
                </div>
                <!-- <label *ngIf="trooper.status === 'ready'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">Ready to fight</label>
                <label *ngIf="trooper.status === 'battle'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">In battle</label> -->
            </ng-container>
        </div>
    </div>
</div>



<div *ngIf="teamToRemoveFrom && showModalRemove" class="backdrop" (click)="backRemoveTrooper()">

</div>

<div *ngIf="teamToRemoveFrom && showModalRemove" class="modal-wrapper">
    <div class="validate" *ngIf="teamToRemoveFrom && showModalRemove">
        <label (click)="validateRemoveTrooper()">
            Validate
        </label>
    </div>
    <div style="overflow-y: scroll; height: 80%;">
        <div *ngIf="currentUserNFT.length >= 0" class="troopers-wrapper">
            <ng-container *ngFor="let trooper of currentUserNFT">
                <div *ngIf="trooperAlreadyInTeam(trooper, teamToRemoveFrom)" class="trooper">
                    <img 
                    [src]="trooper.image"/>
                    <div class="stats">
                        <p> <img src="assets/images/sword.png" style="width: 30px;"/> {{trooper.attack}} </p>
                        <p> <img src="assets/images/heartbeat.png" style="width: 30px;"/> {{trooper.hp}} </p>
                        <p> <img src="assets/images/armor.png" style="width: 30px;"/> {{trooper.armorScore}} </p>
                        <p> <img src="assets/images/lighting.png" style="width: 30px;"/> {{trooper.energy}} </p>
                        <p> <img src="assets/images/precision.png" style="width: 30px;"/> {{trooper.precision}} </p>
                        <p> <img src="assets/images/headshot.png" style="width: 30px;"/> {{trooper.critical}} </p>
                        <p> <img src="assets/images/speedometer.png" style="width: 30px;"/> {{trooper.speed}} </p>
                    </div>
                    <label *ngIf="!trooperIsInTrooperRemoveList(trooper)" (click)="removeTrooper(trooper)">Remove</label>
                    <label class="remove" *ngIf="trooperIsInTrooperRemoveList(trooper)" (click)="removeTrooperFromRemoveList(trooper)">X</label>
                </div>
                <!-- <label *ngIf="trooper.status === 'ready'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">Ready to fight</label>
                <label *ngIf="trooper.status === 'battle'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">In battle</label> -->
            </ng-container>
            <ng-container *ngFor="let trooper of currentUserNFT">
                <div *ngIf="!trooperAlreadyInTeam(trooper, teamToRemoveFrom)" class="trooper">
                    <img 
                    [src]="trooper.image"/>
                    <div class="stats">
                        <p> <img src="assets/images/sword.png" style="width: 30px;"/> {{trooper.attack}} </p>
                        <p> <img src="assets/images/heartbeat.png" style="width: 30px;"/> {{trooper.hp}} </p>
                        <p> <img src="assets/images/armor.png" style="width: 30px;"/> {{trooper.armorScore}} </p>
                        <p> <img src="assets/images/lighting.png" style="width: 30px;"/> {{trooper.energy}} </p>
                        <p> <img src="assets/images/precision.png" style="width: 30px;"/> {{trooper.precision}} </p>
                        <p> <img src="assets/images/headshot.png" style="width: 30px;"/> {{trooper.critical}} </p>
                        <p> <img src="assets/images/speedometer.png" style="width: 30px;"/> {{trooper.speed}} </p>
                    </div>
                    <label *ngIf="!trooperIsInTrooperAddList(trooper)" (click)="addTrooper(trooper)">Add</label>
                    <label class="add" *ngIf="trooperIsInTrooperAddList(trooper)" (click)="removeTrooperFromAddList(trooper)">0</label>
                </div>
                <!-- <label *ngIf="trooper.status === 'ready'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">Ready to fight</label>
                <label *ngIf="trooper.status === 'battle'" style="color:#ffef86; cursor: pointer; font-family: 'Heavitas';" routerLink="/battle">In battle</label> -->
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="trooperToSeeDetails && showModalDetails" class="backdrop" (click)="backDetailsTrooper()">

</div>

<div *ngIf="trooperToSeeDetails && showModalDetails" class="modal-wrapper trooper-details">
    <div class="details-bloc border-bottom">
        <div class="bloc">
            <img [src]="trooperToSeeDetails.image"/>
        </div>
        <div class="bloc bloc-name">
            <label class="name">
            </label>
            <label class="id">Trooper #{{trooperToSeeDetails?.idToken}}</label>
            <!-- <label class="rarity">Rarity: {{trooperToShow.rarity}}</label> -->
        </div>
    </div>
    <div class="details-bloc">
        <div class=properties-wrapper>
            <div class="properties">
                <div>
                    <label class="type">Color: </label>
                    <label class="value">{{trooperToSeeDetails?.color}}</label>
                    <label class="value">( {{trooperToSeeDetails?.hp}} HP )</label>
                </div>
                <div>
                    <label class="type">Emissive Color: </label>
                    <label class="value">{{trooperToSeeDetails?.emissiveColor}}</label>
                    <label class="value">( {{trooperToSeeDetails?.attack}} Attack Damage )</label>
                </div>
                <div>
                    <label class="type">Armor: </label>
                    <label class="value">{{trooperToSeeDetails?.armor}}</label>
                    <label class="value">( {{trooperToSeeDetails?.armorScore}} Armor )</label>
                </div>
                <div>
                    <label class="type">Helmet Top: </label>
                    <label class="value">{{trooperToSeeDetails?.helmet}}</label>
                </div>
                <div>
                    <label class="type">Accessory: </label>
                    <label class="value">{{trooperToSeeDetails?.accessory}}</label>
                </div>
                <div>
                    <label class="type">Visor: </label>
                    <label class="value">{{trooperToSeeDetails?.Visor}}</label>
                    <label class="value">( {{trooperToSeeDetails?.precision}} Precision )</label>
                </div>
                <div>
                    <label class="type">Respirator: </label>
                    <label class="value">{{trooperToSeeDetails?.respirator}}</label>
                    <label class="value">( {{trooperToSeeDetails?.critical}} Critical Rate )</label>
                </div>
                <div>
                    <label class="type">Gem: </label>
                    <label class="value">{{trooperToSeeDetails?.gem}}</label>
                    <label class="value">( {{trooperToSeeDetails?.energy}} Energy )</label>
                </div>
                <div>
                    <label class="type">Support Gem: </label>
                    <label class="value">{{trooperToSeeDetails?.supportGem}}</label>
                    <label class="value">( {{trooperToSeeDetails?.speed}} Speed )</label>
                </div>
            </div>
        </div>
    </div>
</div>