/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,89,100,1) 0%, rgba(150,156,160,1) 100%);
    font-family: 'Rajdhani';
    font-weight: bold;
    margin: 0;
}