/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: 'Roboto Mono'; background-color: #17171e; }
@font-face {
    font-family: "AltoneBold";
    src: local("AltoneBold"), url(./assets/fonts/AltoneTrial-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Altone";
    src: local("Altone"), url(./assets/fonts/AltoneTrial-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Heavitas";
    src: local("Heavitas"), url(./assets/fonts/Heavitas.ttf) format("truetype");
}

ngx-skeleton-loader {
    span {
        background-color: #ffe329 !important;
    }
}